

.professors {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    flex-wrap: wrap;
}
.professorBlock {
    margin: 20px;
    width: 500px;
}
.professorBlock h3, .professorBlock h2 {
    margin: 5px 0 5px 0;
}
.professorBlock img {
    width: 160px;
    height: 215px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    margin-bottom: 10px;
}
.contact {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.contactText {
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    color: white;
    background-color: brown;
    border-radius: 5px;
    font-size: 24px;
    padding: 25px;
}
.contactText a {
    text-decoration: none;
    color:antiquewhite
}
#submit {
    height: 50px;
    width: 220px;
    border-radius: 25px;
    background-color: brown;
    border-color: white;
    color: white;
    border: 1px solid white;
    transition: 0.5s;
    font-size: 18px;
}
#submit:hover {
    cursor: pointer;
    border: 1px solid brown;
    background-color: white;
    color:brown;
    transition: 0.5s;
}
.contactsForm span {
    margin-bottom: 10px;
    color: red;
}
.contactsForm input {
    margin-bottom: 10px;
    height: 42px;
    width: 100%;
    font-size: 14px;
    padding-left: 10px;
}
.contactsForm textarea {
    margin-bottom: 10px;
    height: 106px;
    width: 100%;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
}
.contactsForm {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px;
    padding-bottom: 100px;
}
.contactsForm form {
    width: inherit;
    width: 950px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 1365px) {
.professorBlock {
    width: 100%;
}
.contactsForm textarea, .contactsForm input {
    width: calc(100% - 40px);
}
form h1 {
    text-align: center;
}
}